.documents {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    background: #ffffff;
}
.document__tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #9fbde8;
    width: 100%;
    height: 2rem;
    flex-shrink: 0;
}
.document__tabs_content{
    display: flex;
    padding-left: 1rem;
    gap: 1rem;
}
.tabs__cv, .tabs__certificates, .tabs__projects {
    background: #9fbde8;
    color: #000000;
    transition: all 0.2s ease;
}
.tabs__cv_active, .tabs__certificates_active, .tabs__projects_active {
    background: #ffffff;
    color: #3b82f6;
    border-bottom: 2px solid #3b82f6;
}
.tabs__cv:hover, .tabs__certificates:hover, .tabs__projects:hover{
    cursor: pointer;
    opacity: 15%;
}
