.footer{
    display: flex;
    flex-direction: column;
    background: #dfe4f0;
    color: #243352;
    padding: clamp(1rem, 10vw, 5rem);
}
.footer__content {
    display: flex;
    padding-top: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
    gap: clamp(1rem, 3vw, 2rem);
}
.footer__content_contact {

}
.footer__contact_title {
    color: #111827;
}
.footer__contact_text {

}
.footer__content_social {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(2, minmax(20px, 1fr));
    gap: clamp(1rem, 5vw, 2rem);
}
.footer__copyright{
    align-self: center;
}
.footer__copyright_text{
    margin: clamp(1rem, 5vw, 1.5rem) 0 0 0;
}
.footer__social_link{
    width: clamp(30px, 5vw, 50px);
    height: clamp(30px, 5vw, 50px);
}
.footer__social_icon {
    width: clamp(30px, 5vw, 50px);
    height: clamp(30px, 5vw, 50px);
}
.footer__contact_title {
    margin: 0;
}
.footer__contact_button {
    margin-top: 20px;
    width: 250px;
    padding: 1rem;
    border: none;
    background: #111827;
    color: #ffffff;
    border-radius: 15px;
}
.footer__contact_button:hover {
    background: #6f7277;
    color: #ffffff;
    cursor: pointer;
}