.services {
    display: flex;
    flex-direction: column;
    background: #1e293b;
    color: #cbd5e1;
    padding: clamp(1rem, 10vw, 5rem);
}
.services__title {
    margin: 0;
    font-family: 'Roboto slab', sans-serif;
    font-weight: 900;
    font-size: clamp(1.25rem, 5vw, 3.13rem);
}
.services__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: clamp(1rem, 2vw, 1.5rem);
    padding-top: 3rem;
}
.services__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    overflow: hidden;
    color: #e2e8f0;
}
.services__card:hover {
    background: #cbd5e1;
    color: #1e293b

}
.services__card_image {
    height: clamp(150px, 50vh, 500px);
    object-fit: cover;
    
}
.services__card_text {
    
    align-self: center;
}